* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: $body-font-family;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font-family;
  font-weight: 800;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: blue;
  border: 0px none #ffffff;
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: white;
  border: none;
  border-radius: 0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
