.chessboard {
  &-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  &-board {
    display: grid;
    grid-template-rows: 2rem auto 2rem;
    padding: 3rem;
  }

  &-file-gutter {
    background-color: lighten(black, 20%);
    color: white;
    display: grid;
    grid-template-columns: 2rem repeat(8, 1fr) 2rem;
  }

  &-board-grid {
    display: grid;
    grid-template-columns: 2rem auto 2rem;
  }
}

.gutter {
  &-file-labels {
    grid-column-start: 2;
    grid-column-end: 10;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-content: center;
    align-items: center;
    font-weight: 200;
    text-transform: uppercase;
  }
  &-rank-labels {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: lighten(black, 20%);
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  &-label {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 2rem;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: orange;
      transition: 400ms all;
      font-weight: 600;
    }
  }
}

.board {
  &-grid {
    background-color: lighten(black, 70%);
    color: lighten(black, 80%);
    display: grid;
    grid-template-rows: repeat(8, 1fr);
  }

  &-rank {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;

    &:nth-of-type(2n) {
      .board-square:nth-of-type(2n) {
        background-color: lighten(black, 90%);
        color: lighten(black, 98%);

        &.active {
          background-color: blue;
          color: white;
        }
      }
    }

    &:nth-of-type(2n + 1) {
      .board-square:nth-of-type(2n + 1) {
        background-color: lighten(black, 90%);
        color: lighten(black, 98%);

        &.active {
          background-color: blue;
          color: white;
        }
      }
    }
  }

  &-square {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: blue;
      color: white;
      transform: scale(1.1);
      transition: 400ms all;
      font-size: 1.6rem;
      font-weight: 200;
      text-transform: uppercase;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    }
  }
}

// tweaks for mobile layouts
@media (max-width: 600px) {
  .chessboard {
    &-wrapper {
      height: 100%;
    }
    &-board {
      padding: 0;
    }
  }
}
