.game {
  &-landing {
    height: 100vh;
  }

  &-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 100vw 1fr;
  }

  &-movelog {
    padding: 1rem 6rem;
    background-color: lighten(black, 97%);
  }
}

@media (min-width: 600px) {
  .game {
    &-wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: 1fr;
    }

    &-chessboard {
      height: 100vh;
    }

    &-movelog {
      padding: 1rem 2rem;
      width: $sidebar-width;
      height: 100vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
}
