.movelog {
  &-wrapper {
  }

  &-list {
    .log {
      &-item {
        padding: 1rem;
      }
      &-date {
        font-size: 0.9rem;
        color: lighten(black, 80%);
      }
      &-move {
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}
